
  
    <h3>แสดง 100 รายการล่าสุด</h3>
    <button type="button" class="btn btn-primary" (click)= "fetchOnclick()">Primary</button>
  
  
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">รหัสรายการ</th>
          <th scope="col">ชื่อ node</th>
          <th scope="col">เวลาที่ลงรายการ</th>
          <th scope="col">Gateway ที่มา</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let logbook of dataArr_recv; let i = index" >
          <th scope="row">1</th>
          <td>{{logbook.LogbookListId}}</td>
          <td>{{logbook.nodename}}</td>
          <td>{{logbook.createdAt}}</td>
          <td>{{logbook.gatewayId}}</td>
          <td>
            <app-logbookdetail [id]="i" [data]="logbook"></app-logbookdetail>
          </td>
        </tr>
        
      </tbody>
    </table>

